body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
  letter-spacing: 2px;
}

.controls input {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background: #6a00ff;
  color: white;
}

button:hover {
  background: #8f2bff;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

.game-card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.game-card:hover {
  background: #292929;
  transform: scale(1.05);
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.viewer-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #111;
}

.viewer iframe {
  width: 100%;
  height: 93%;
  border: none;
}

.hidden {
  display: none;
}